<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>New Asset</legend>
    <div>
      <label for="categoryId">Category</label>
      <select id="categoryId" formControlName="categoryId" [attr.aria-invalid]="form.get('categoryId')?.invalid">
        <option value="0" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div>
      <label for="symbol">Symbol</label>
      <select id="symbol" formControlName="symbol" [attr.aria-invalid]="form.get('symbol')?.invalid">
        <option value="" disabled selected>Select a symbol</option>
        <option *ngFor="let symbol of categorySymbols" [value]="symbol.name">
          {{ symbol.name }}
        </option>
      </select>
      <div *ngIf="form.get('symbol')?.errors?.['symbolExists'] && form.get('symbol')?.touched" >
        This symbol is already in use. 
        <a [routerLink]="['/assets', 'edit', existingAsset?.symbol]">Edit existing asset</a> instead.
      </div>
    </div>
    <div>
      <label for="name">Name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        placeholder="Enter name"
        [readonly]="!isRealEstate"
        [attr.aria-invalid]="form.get('name')?.invalid"
      />
    </div>
    <div>
      <label for="quantity">Quantity</label>
      <input
        type="number"
        formControlName="quantity"
        id="quantity"
        placeholder="Enter quantity"
        [attr.aria-invalid]="form.get('quantity')?.invalid"
      />
    </div>
    <div>
      <label for="value">Value</label>
      <input
        type="number"
        formControlName="value"
        id="value"
        placeholder="Enter value"
        [readonly]="!isRealEstate"
        [attr.aria-invalid]="form.get('value')?.invalid"
      />
    </div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </fieldset>
</form>

